#w-InfoBox{
   width:100%;
   
   display:flex;
   flex-wrap:wrap;
   margin-top:-40px;
   /* flex-direction:flex-start; */
  
}
#w-InfoBox div{
    margin-bottom:20px;
}
#span-icon{
    height: 700px;
}